@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables.sass";
@import 'bulma/bulma';
@import "bulma-extensions/bulma-divider/src/sass/index.sass";



.navbar-burger, .navbar-burger:hover{
  color: white;
}

*{
  font-family: 'Lato', sans-serif;
  color: grey;
}

::selection {
  background: #476991; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #476991; /* Gecko Browsers */
  color: white;
}

// .navbar, .navbar-menu, .footer{
//   background-image: linear-gradient(to right, #de6262, #ffb88c);
// }

// .hero.is-dark{
//   background-image: linear-gradient(to right, #de6262, #ffb88c) !important;
// }

.navbar-menu{
  border-top: 1px solid white;
}

@media only screen and (min-width: 1087px){
  .navbar-menu{
    border-top: none;
  }
}

.subtitle{
  color: grey !important;
}

a:hover{
  color: silver !important;
}

.navbar-menu-override .navbar-item{
  color: grey;
  cursor: pointer;

  &:hover{
    color: #476991
  }
}

.button.is-dark{
  background-color: grey;
  opacity: .7;
  transition: .3s;
  &:hover{
    opacity: 1;
    background-color: grey;
  }
}

.me-circle{
  border: 3px solid grey;
  border-radius:50%;
}

// .me-circle-cont{
//   height: 300px !important;
//   width: 300px !important;
// }

.project-circle{
  border-radius: 65px;
  border: 3px solid grey;

  img{
    border-radius: 50%;
  }
}

.project-pill{
  border-radius: 50px;
  border: 2px solid grey;
  text-align: center;
  height: 65px;
  width: 250px;
  padding: 5px;
  transition: .3s;
  cursor: pointer;
  color: #476991;
  font-weight: bold;

  &:hover{
    border-color: #476991;
    color: white;
    background: #476991;
  }
}
 
.about-cont .svg-inline--fa, #proj .svg-inline--fa, #profProj .svg-inline--fa{
  height: 2em;
  width: 2em !important;
}


.social-cont{
  margin-top: 10px;
  display: inline-block;
  position: relative;
  top: 5px;
  
  a{
    margin-right: 20px;
  }
}

#proj .hero-body, #profProj .hero-body{
  padding-top: 0;
  padding-bottom: 0;
}

#profProj{
  margin-bottom: 6em !important;
}

.is-svg{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: .3s;

  img{
    border-radius: 0;
    width: 90%;
  }

  &:hover{
    background: #476991;
  }
}

.is-svg img:last-child {
  display: none;  
}
.is-svg:hover img:last-child {
  display: flex;  
}
.is-svg:hover img:first-child {
  display: none;  
}

a.is-link{
  background-color: grey !important;
}

.tech, .resume{
  text-align: center;
}

a{
  color: grey;
}

@media screen and (max-width: 779px){
  .columns div{
    display: grid;
    place-items: center;
    text-align: center;
  }
}