// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// 2. Setup your Custom Colors
$purple: hsl(275,87%,45%);
$purple-invert: findColorInvert($purple);

// 3. Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables.sass";

$addColors: (
  "purple":($purple, $purple-invert),
);

$colors: map-merge($colors, $addColors);

@import 'bulma/bulma';


.navbar-burger, .navbar-burger:hover{
  color: white;
}

*{
  font-family: 'Lato', sans-serif;
}

::selection {
  background: #476991; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #476991; /* Gecko Browsers */
  color: white;
}

.navbar, .navbar-menu, .footer{
  background-image: linear-gradient(to right, #de6262, #ffb88c);
}

.hero.is-dark{
  background-image: linear-gradient(to right, #de6262, #ffb88c) !important;
}

.navbar-menu{
  border-top: 1px solid white;
}

@media only screen and (min-width: 1087px){
  .navbar-menu{
    border-top: none;
  }
}

@media only screen and (max-width: 768px){
  .project-cont{
    border-top: 1px solid #476991;
    border-bottom: 1px solid #476991;
  }
}


a:hover{
  color: white !important;
}

.navbar-menu-override .navbar-item{
  color: white;
  cursor: pointer;

  &:hover{
    color: #476991
  }
}

.button.is-dark{
  background-color: #476991;
  opacity: .7;
  transition: .3s;
  &:hover{
    opacity: 1;
    background-color: #476991;
  }
}

.me-circle{
  border: 2px solid #476991;
  border-radius:50%;
}

// .me-circle-cont{
//   height: 300px !important;
//   width: 300px !important;
// }

.project-circle{
  border-radius: 65px;
  border: 2px solid #476991;

  img{
    border-radius: 50%;
  }
}

.project-pill{
  border-radius: 50px;
  border: 2px solid #476991;
  text-align: center;
  height: 65px;
  width: 250px;
  padding: 5px;
  transition: .3s;
  cursor: pointer;
  color: #476991;
  font-weight: bold;

  &:hover{
    border-color: #476991;
    color: white;
    background: #476991;
  }
}
 
.about-cont .svg-inline--fa, #proj .svg-inline--fa{
  height: 2em;
  width: 2em !important;
  color: #476991;
}

.about-cont{
  color: #476991;
}

.social-cont{
  margin-top: 10px;
  display: inline-block;
  position: relative;
  top: 5px;
  
  a{
    margin-right: 20px;
  }
}

#proj .hero{
  padding-top: 0;
}